* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Display", Helvetica, Arial, sans-serif;
  letter-spacing: 0.015rem;
}

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), black 65%),
    url("./new\ backround\ umag.jpeg");
  width: 100vw;
  height: 95vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  padding-top: 24px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  gap: 150px;
  align-items: center;
}
.logo-content {
  display: flex;
  align-items: center;
}
.details {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.details span {
  border-top: 3px solid white;
  margin-bottom: 3px;
  width: 19px;
  border-radius: 5px;
}

#line {
  width: 11px;
}

.nav-logo {
  width: 135px;
  height: 18px;
  margin-left: 35px;
}

.line-before-search-core {
  border-left: 1px solid white;
  height: 18px;
  margin-left: 30px;
  margin-right: 17px;
}
.core-search {
  display: flex;
  align-items: center;
}

.fa {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}

.core-search input {
  background-color: transparent;
  font-size: 0.5 rem;
  font-weight: 500;
  padding-left: 10px;
  border: 0px solid rgba(0, 0, 0, 0);
  transition: all 0.2s linear;
  color: #fff;
}

.core-search input:focus {
  outline: none;
}

.core-search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.new-content {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12.6px;
}

.new-content span {
  color: rgba(255, 255, 255, 0.5);
}

#chart {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  margin-left: 5px;
}

.new-content button {
  padding: 8px 18px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  font-weight: 500;
  margin-left: 10px;
  border: transparent;
  text-align: center;
}

.new-content button ::after {
  content: "•";
  color: #0078f6;
  font-size: 2rem;
  line-height: 1rem;
  height: 16px;
  width: 12px;
  vertical-align: middle;
  display: inline-block;
  animation: load 1.5s ease-out infinite;
}

@keyframes load {
  0% {
    font-size: 0.5rem;
  }
  30% {
    font-size: 1rem;
  }
  50% {
    font-size: 1.5rem;
  }
  70% {
    font-size: 2rem;
  }
  100% {
    font-size: 2.2rem;
  }
}

.nav-social-link {
  display: flex;
  gap: 15px;
  font-size: 1rem;
  margin-left: 135px;
  color: rgba(255, 255, 255, 0.5);
}

.fa-brands {
  width: 13px;
  height: 13px;
  padding: 0;
  color: rgba(255, 255, 255, 0.4);
}

.hero-content {
  justify-content: center;
  display: flex;
  margin-top: 30px;
}

.hero-content-container {
  display: flex;
  gap: 0;
}

.hero-content-container img {
  width: 447px;
  height: 447px;
  border-radius: 20px;
  object-fit: cover;
  object-position: 10% 50%;
}

.hero-content-text {
  width: 850px;
  padding: 45px 0px 0px 61px;
}

.hero-content-text h1 {
  color: #0078f6;
  letter-spacing: 0.03rem;
  font-size: 14.4px;
  font-weight: 700;
  margin-bottom: 15px;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  /* 30% {
    font-size: 1rem;
  }
  50% {
    font-size: 1.5rem;
  }
  70% {
    font-size: 2rem;
  } */
  100% {
    font-size: 14.4px;
  }
}

.hero-content-text h2 {
  margin-top: 7px;
  font-family: "SF Display", sans-serif;
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 4.3rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: #fff;
}

.hero-content-text a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 2.6rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.015rem;
}

.author {
  display: flex;
  margin-top: 54px;
  gap: 5px;
  align-items: center;
}

.author a {
  font-size: 12.6px;
  color: rgba(255, 255, 255, 0.5);
}

.author a img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 2px 2px;
}

.author-text {
  color: white;
  font-size: 12.6px;
}

.slider {
  display: flex;
  justify-content: center;
  position: relative;
  top: -290px;
}

.slider-text {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0px 90px;
}

.slider-text h1 {
  color: white;
  font-size: 16.2px;
  letter-spacing: 0.015rem;
  font-weight: 700;
}

.slider-text button {
  border: transparent;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.4);
  height: 24px;
  cursor: pointer;
}

#btn1 {
  padding: 0px 6px 0px 13px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

#btn2 {
  padding: 0px 13px 0px 6px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.slider-text button:hover {
  color: white;
}

.slider-box-container {
  display: flex;
  gap: 20px;
}

.slider-box {
  width: 240px;
  height: 354px;
  padding: 12px 13px;
  box-shadow: 0px 5px 4px 0px rgba(50, 51, 52, 0.2);
}

.slider-box:hover {
  /* transition: all 0.6s linear; */
  transform: scale(1.5);
  transition: transform(scale(1.5));
}
.box1 {
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), black 150%),
    url("./box1.jpeg");
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.box2 {
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), black 150%),
    url("./box2.png");
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.box3 {
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), black 150%),
    url("./box3.jpeg");
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.box4 {
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), black 150%),
    url("./box4.png");
  border-radius: 10px;
  background-position: 13% 50%;
  background-size: cover;
}

.box5 {
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), black 150%),
    url("./box5.png");
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.clock {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 1);
  font-weight: 100;
  letter-spacing: 0.015rem;
  align-items: center;
}

.clock p {
  color: #0078f6;
  font-weight: 900;
  font-size: 25px;
}

.slider-viewer-comment {
  display: flex;
  gap: 10px;
  margin-top: 140px;
  margin-bottom: 15px;
}

.fa-solid {
  color: white;
  gap: 3px;
  display: flex;
}

.slider-box a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.slider-box button {
  margin-top: 14px;
  padding: 6px 11px;
  font-size: 0.5rem;
  font-weight: 500;
  border: transparent;
  border-radius: 10px;
  background-color: #0078f6;
  color: white;
}
